<ion-header>
	
</ion-header>

<ion-content class="ion-padding">
	<form #f="ngForm">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item lines="none" class="ion-no-padding">
						<h1>Hello!</h1>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none" class="ion-no-padding">
						<h6>Create an account to continue</h6>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Your name</ion-label>
						<ion-input
							type="text"
							ngModel
							name="name"
							required
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Email address</ion-label>
						<ion-input
							type="email"
							ngModel
							name="email"
							required
							email
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Password</ion-label>
						<ion-input
							type="password"
							ngModel
							name="password"
							required
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item class="ion-no-padding">
						<ion-label position="floating">Invitation code</ion-label>
						<ion-input
							type="text"
							ngModel
							name="invitationCode"
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none" class="ion-no-padding">
						<ion-label class="ion-text-wrap">By creating an account, you agree to our Term and Conditions</ion-label>
						<ion-checkbox ngModel name="termsAndConditions" slot="start"></ion-checkbox>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-button expand="block">Create an account</ion-button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<h6>Already have an account? Sign in</h6>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<h6>Just want to take a peek? Show me around</h6>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>