<ion-header>
	
</ion-header>

<ion-content class="ion-padding">
	<form #f="ngForm">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<h1>Hello!</h1>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<h4>Create an account to continue</h4>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label position="floating">Your name</ion-label>
						<ion-input
							type="text"
							ngModel
							name="name"
							required
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label position="floating">Email address</ion-label>
						<ion-input
							type="email"
							ngModel
							name="email"
							required
							email
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label position="floating">Password</ion-label>
						<ion-input
							type="password"
							ngModel
							name="password"
							required
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label position="floating">Invitation code</ion-label>
						<ion-input
							type="text"
							ngModel
							name="invitationCode"
						></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item lines="none">
						<ion-label class="ion-text-wrap">By creating an account, you agree to our Term and Conditions</ion-label>
						<ion-checkbox ngModel name="termsAndConditions" slot="start"></ion-checkbox>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>