<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon name="search-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon (click)="toggleAddMenu()" *ngIf="!showAddMenu" name="add-circle" color="primary"></ion-icon>
            <ion-icon (click)="toggleAddMenu()" *ngIf="showAddMenu" name="close-circle" color="primary"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon name="notifications-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
            <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
